.demo {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  padding: 24px;
}

.demo > div {
  border-bottom: 1px solid #eaeaea;
  padding: 24px;
}

.demo > div > div:first-child {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 42px;
}

.demo > div > div:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.calendar {
  flex: 0 0 400px;
  max-width: 400px;
}

.json {
  flex: 1 1 auto;
}
