.demo {
  margin: 0 auto;
  padding: 24px;
}

.demo > div {
  padding: 24px;
}

.demo > div > div:first-child {
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 42px;
  max-width: 500px;
}

.demo > div > div:first-child > small {
  line-height: 1.2;
  letter-spacing: 0.4px;
  opacity: 0.7;
  font-size: 0.8em;
}

.demo > div > div:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.calendar {
  flex: 0 0 400px;
  max-width: 400px;
  margin-bottom: 2rem;
}

.json {
  flex: 1 1 auto;
}

.arc {
  margin-bottom: 24px;
}
