body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 260px;
  overflow: hidden;
  margin: 2rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  box-shadow: 0 0px 4px 2px #f1f1f1;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 8px 4px;
}

header > button {
  flex: 0 0 28px;
}

header > div {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div > div span {
  font-weight: 500;
  font-size: 14px;
}

header > div > div + div {
  margin-left: 8px;
}

.header-action {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 4px 2px #f1f1f1;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 12px;
}

main {
  width: 100%;
  padding: 4px 0 8px;
}

.weekdays-header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
}

.weekdays-header-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #b6b6b7;
  font-size: 13px;
  text-transform: uppercase;
}

.weekdays-header-day.weekend {
  color: #f3a0a0;
}

.weekdays-header-day + .weekdays-header-day {
  margin-left: 6px;
}

.month-dates {
}

.month-dates-row {
  display: flex;
  width: 100%;
}

.month-dates-cell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b6b6b7;
  font-size: 13px;
  cursor: pointer;
}

.month-dates-cell + .month-dates-cell {
  margin-left: 6px;
}

.month-dates-cell.active-month {
  color: #000;
  font-weight: 500;
}

.month-dates-cell.lc {
}

.month-dates-cell.fc {
}

.month-dates-cell.lr {
}

.month-dates-cell.fr {
}

.month-dates-cell.today {
  border-radius: 6px;
  font-weight: 500;
  color: #448fff;
}

.month-dates-cell.sunday {
}

.month-dates-cell.saturday {
}

.month-dates-cell.weekend {
  color: #f3a0a0;
}

.month-dates-cell.weekend.active-month {
  color: red;
}

.month-dates-cell.selected {
  box-shadow: 0px 0px 1px 1px #0c57c5;
  background-color: #5599ff;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}

.month-dates-cell.selected:focus {
  outline: none;
}

.month-dates-cell.selected.weekend {
  color: #fff;
}

.month-dates-cell.disabled {
  position: relative;
  color: #c9c9ca;
  cursor: none;
  pointer-events: none;
}

.month-dates-cell.disabled.weekend {
  color: #f5b5b5;
}

.month-dates-cell.disabled::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  font-weight: 300;
  display: block;
  height: 70%;
  background-color: #b6b6b7;
  width: 1px;
}

.month-dates-cell.weekend.disabled::before {
  background-color: #f3a0a0;
}

.months {
}

.months-row {
  display: flex;
  width: 100%;
}

.month-cell {
  width: 86px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.month-cell.selected {
  box-shadow: 0px 0px 1px 1px #0c57c5;
  background-color: #5599ff;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}

.month-cell.current-month {
  border-radius: 6px;
  font-weight: 500;
  color: #448fff;
}

.month-cell.disabled {
  position: relative;
  color: #c9c9ca;
  cursor: none;
  pointer-events: none;
}

.month-cell.disabled::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  font-weight: 300;
  display: block;
  height: 70%;
  background-color: #b6b6b7;
  width: 1px;
}

.years {
}

.years-row {
  display: flex;
  width: 100%;
}

.year-cell {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.year-cell.disabled {
  position: relative;
  color: #c9c9ca;
  cursor: none;
  pointer-events: none;
}

.year-cell.disabled::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  font-weight: 300;
  display: block;
  height: 70%;
  background-color: #b6b6b7;
  width: 1px;
}

.year-cell.selected {
  box-shadow: 0px 0px 1px 1px #0c57c5;
  background-color: #5599ff;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}

.year-cell.current-year {
  border-radius: 6px;
  font-weight: 500;
  color: #448fff;
}
